<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Marca</title>
</head>

<body>
    <div class="container">
        <h2>Registrar Marca</h2>
        <div class="">
            <div class="mb-3">
                <label class="form-label">Marca</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la marca"
                    name="brand_name" [(ngModel)]="brand.brand_name">
                <div *ngIf="errorName" class="text-danger">{{errorName}}</div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Catalogo</label>
                <select class="form-select" aria-label="Default select example" (change)="onSelectChange($event)">
                    <option *ngFor="let catalogo of data" [value]="catalogo.id">{{catalogo.name}}</option>

                </select>
                <div *ngIf="errorCatalogue" class="text-danger">{{errorCatalogue}}</div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3" (click)="submitForm()">Agregar</button>
            </div>
        </div>
    </div>
</body>

</html>