<<<<<<< HEAD
<<<<<<< HEAD
/*
=======
>>>>>>> d6ff5ff9a5d074228aeb236c478aa5bc76aa94aa
=======
/*
>>>>>>> 45bd765e3240c9ebfd935785e217e4f07b8a1a4c
body {
    width: 100%;
    height: 100vh;
    background-image: url('../img/fondo2.jpg');
    background-size: cover;
    background-position: center;
<<<<<<< HEAD
<<<<<<< HEAD
}
*/
=======
}
>>>>>>> d6ff5ff9a5d074228aeb236c478aa5bc76aa94aa
=======
}
*/
>>>>>>> 45bd765e3240c9ebfd935785e217e4f07b8a1a4c
