<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Inventario</title>
</head>

<body>
    <app-navbar></app-navbar>
    <div class="container">
        <h2>Inventario</h2>
        <div class="">
            <div class="mb-3">
                <label  class="form-label">Fecha de Admision</label>
                <input type="date" class="form-control" [(ngModel)]="inventory.admission_date">
              <div *ngIf="errorDate" class="text-danger">{{errorDate}}</div>
            </div>
            <div class="mb-3">
                <label  class="form-label">Stock</label>
                <input type="number" class="form-control"  placeholder="Stock" [(ngModel)]="inventory.stock">
              <div *ngIf="errorStock" class="text-danger">{{errorStock}}</div>
            </div>
            <div class="mb-3">
                <label  class="form-label">Modelo</label>
                <select class="form-select" aria-label="Default select example" (change)="onModelSelected($event)">
                    <option *ngFor="let models of models_data" [value]="models.id">{{models.modelo}}</option>
                </select>
              <div *ngIf="errorModel" class="text-danger">{{errorModel}}</div>
            </div>
            <div class="mb-3">
                <label  class="form-label">Proveedor</label>
                <select class="form-select" aria-label="Default select example" (change)="onSupplierSelected($event)">
                    <option *ngFor="let supplier of supplier_data" [value]="supplier.id">
                      <div *ngIf="supplier.supplier_status">{{supplier.supplier_name}}</div>
                    </option>
                </select>
              <div *ngIf="errorSupplier" class="text-danger">{{errorSupplier}}</div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3" (click)="submitForm()">Agregar</button>
            </div>
        </div>
    </div>
</body>

</html>
