<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla Marcas</title>
</head>
<body>
<div class="container" style="margin-top: 25px;">
  <table class="table table-bordered" style="text-align: center;">
    <thead>
    <tr>
      <th scope="col">No. De Detalle</th>
      <th scope="col">Monto Total</th>
      <th scope="col">Monto De Impuestos</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let factura of facturacionesList">
      <th scope="row">{{factura.detail_id}}</th>
      <th scope="row">{{factura.total_amount}}</th>
      <th scope="row" >{{factura.tax_amount}}</th>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
