#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    }
#div1 {
    height: 350px;
    width: 350px;
    background-color: rgb(247, 138, 138);
    margin: 60px;
    text-align: center;
}
#div2 {
    height: 350px;
    width: 350px;
    background-color: rgb(129, 7, 7);
    margin: 60px;
    text-align: center;
}
#div3 {
    height: 350px;
    width: 350px;
    background-color: rgb(77, 66, 66);
    margin: 60px;
    text-align: center;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 45bd765e3240c9ebfd935785e217e4f07b8a1a4c
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
<<<<<<< HEAD
  }
=======
>>>>>>> d6ff5ff9a5d074228aeb236c478aa5bc76aa94aa
=======
  }
>>>>>>> 45bd765e3240c9ebfd935785e217e4f07b8a1a4c
