<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>

<body class="signika">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand pacifico-regular" style="color: white;">ComisiónQA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: white;" aria-current="page"
                            routerLink="tab-Catalogo">Catalogo</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: white;" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" *ngIf="is_admin">
                            Administracion
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="reg-Proveedores">Registro Proveedores</a></li>
                            <li><a class="dropdown-item" routerLink="reg-Inventario">Registro Inventario</a></li>
                            <li><a class="dropdown-item" routerLink="reg-Marcas">Registro Marcas</a></li>
                            <li><a class="dropdown-item" routerLink="reg-Modelos">Registro Modelos</a></li>
                            <li><a class="dropdown-item" routerLink="tab-Clientes">Tabla Clientes</a></li>
                            <li><a class="dropdown-item" routerLink="tab-Proveedores">Tabla Proveedores</a></li>
                            <li><a class="dropdown-item" routerLink="tab-Inventario">Tabla Inventario</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: white;" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Clientes
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="tab-Marcas">Tabla Marcas</a></li>
                            <li><a class="dropdown-item" routerLink="tab-Modelos">Tabla Modelos</a></li>
                            <li><a class="dropdown-item" routerLink="tab-Ordenes">Tabla Ordenes</a></li>
                            <li><a class="dropdown-item" routerLink="tab-Facturas">Tabla Factura</a></li>
                            <li><a class="dropdown-item" routerLink="reg-Clientes" *ngIf="is_user && !is_client">Registrarse como Cliente</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="color: white;" aria-current="page" routerLink="carrito"
                            *ngIf="is_user">Carrito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="color: white;" aria-current="page" routerLink="historial"
                            *ngIf="is_user || is_admin">Historial</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" style="color: white; margin-top: 8px; margin-left: 5px"
                            routerLink="tab-Facturas" *ngIf="is_user">Facturas</a>
                    </li>
                    <li class="nav-item">
                </ul>
                <ul class="navbar-nav" style="margin-left: 40%">
                    <li class="nav-item">
                        <a class="dropdown-item" style="color: white; margin-top: 8px; margin-right: 5px"
                            routerLink="edit-clientes" *ngIf="is_user || is_admin">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link active" style="color: white;" aria-current="page"
                            (click)="CerrarSesion()">Cerrar Sesion</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>

</body>

</html>