<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Proveedores</title>
</head>

<body>
    <div class="container">
        <h2>Registrar Proveedor</h2>
        <div class="">
            <form>
                <div class="mb-3">
                    <label class="form-label">Proveedor</label>
                    <input type="text" class="form-control" placeholder="Nombre del Proveedor" [(ngModel)]="supplier.supplier_name" required name="supplier_name">
                    <div *ngIf="errorName" class="text-danger">{{errorName}}</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Correo</label>
                    <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="supplier.supplier_email" required name="supplier_email">
                    <div *ngIf="errorEmail" class="text-danger">{{errorEmail}}</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <input type="tel" class="form-control" placeholder="Teléfono" [(ngModel)]="supplier.supplier_phone" required pattern="[0-9]{10}" name="supplier_phone">
                    <div *ngIf="errorPhone" class="text-danger">{{errorPhone}}</div>
                </div>
                
            </form>
        </div>
    </div>
</body>

</html>
