<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Proveedores</title>
</head>

<body>
    <div class="container">
        <h2>Registrar Proveedor</h2>
        <div class="">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Proveedor</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="Nombre del Proveedor">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Correo</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Telefono</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Telefono">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Estatus</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Estatus</option>
                </select>
            </div>
        </div>
    </div>
</body>

</html>