<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla Catalogo</title>
</head>

<body class="signika">
  <div class="container" style="margin-top: 25px;">
    <table class="table table-bordered" style="text-align: center;">
      <thead>
        <tr>
          <th scope="col" *ngIf="is_admin">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col" *ngIf="is_admin">Estatus</th>
          <th scope="col" *ngIf="is_admin">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of catalogoList">
          <th scope="row" *ngIf="is_admin">{{item.id}}</th>
          <th scope="row">{{item.name}}</th>
          <th scope="row" *ngIf="is_admin">{{item.status}}</th>
          <th scope="row" *ngIf="is_admin">
            <a (click)="selectedCatalogue(item)" data-bs-toggle="modal" data-bs-target="#editModal" class="btn btn-warning" style="margin-right: 20px;">Opciones</a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>



  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Editar Catalogo</h5>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="mb-3">
              <label class="form-label signika">Nombre</label>
              <input [(ngModel)]="modifyCatalogue.name" type="text" class="form-control" name="modifyName" required minlength="2">
              <div *ngIf="editForm.controls['modifyName'].errors?.['required'] && (editForm.controls['modifyName'].dirty || editForm.controls['modifyName'].touched)" class="text-danger">
                El nombre del catálogo es obligatorio.
            </div>
            <div *ngIf="editForm.controls['modifyName'].errors?.['minlength'] && (editForm.controls['modifyName'].dirty || editForm.controls['modifyName'].touched)" class="text-danger">
              El nombre del catálogo debe tener al menos 2 caracteres.
          </div>
            </div>
            <div class="mb-3">
              <label  class="form-label signika">Estado</label>
              <select class="form-select" aria-label="Default select example"
                      (change)="isModifyChange($event)"
                      [value]="modifyCatalogue.status"
                      name="modifyStatus">
                <option>Activo</option>
                <option>Inactivo</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getCatalogo()">Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateCatalogue()" [disabled]="editForm.invalid">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
