<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Modelo</title>
</head>

<body>
<div class="container">
    <h2>Registrar Modelo</h2>
    <div class="">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Modelo</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Año</label>
            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Descripcion</label>
            <textarea class="form-control" id="" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Precio</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="$Precio">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Estatus</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Estatus</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Marca</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Marca</option>

            </select>
        </div>
    </div>
</div>
</body>

</html>