<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Catalogo</title>
</head>

<body>
    <div class="container">
        <h2>Editar Catalogo</h2>
        <div class="">
            <div class="mb-3">
                <label class="form-label">Estatus</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la marca"
                    name="brand_name">
                <div class="text-danger"></div>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Subir</button>
            </div>
        </div>
    </div>
</body>

</html>