<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla Inventario</title>
</head>
<body class="signika">
    <div class="container" style="margin-top: 25px;">
        <table class="table table-bordered" style="text-align: center;">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha_Admision</th>
              <th scope="col">Stock</th>
              <th scope="col">Modelo_vehiculo</th>
              <th scope="col">Proveedor</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of inventoryList">
              <th scope="row">{{item.id}}</th>
              <th scope="row">{{item.admission_date}}</th>
              <th scope="row">{{item.stock}}</th>
              <th scope="row">{{item.vehicle_model_id}}</th>
              <th scope="row">{{item.supplier_id}}</th>
              <th scope="row">
                <button type="button" class="btn btn-warning" style="margin-right: 5px;" [routerLink]="['/edit-Inventario', item.id]">Modificar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
</body>
</html>