<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SignIn</title>
</head>

<body>
    <div class="center">
        <div class="container">
            <div>
                <p class="titulo">Registrate</p>
            </div>
            <form class="form-cotrol">
                <div class="mb-3">
                    <label class="form-label subtitulo"><i class='bx bxs-user'></i> Nombre</label>
                    <input type="text" class="form-control"  placeholder="User name" [(ngModel)]="user.name" name="name">
                  <div *ngIf="errorName" class="text-danger">{{errorName}}</div>
                </div>
                <div class="mb-3">
                    <label  class="form-label subtitulo"><i class='bx bxs-envelope' ></i> Correo</label>
                    <input type="email" class="form-control"  placeholder="name@example.com" [(ngModel)]="user.email" name="email">
                    <div *ngIf="errorEmail" class="text-danger">{{errorEmail}}</div>
                </div>
                <div class="mb-3">
                    <label  class="form-label subtitulo"><i class='bx bxs-lock-alt' ></i> Contraseña</label>
                    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" name="password">
                    <div *ngIf="errorPassword" class="text-danger">{{errorPassword}}</div>
                </div>
                <button class="form-control btn-color subtitulo" (click)="submitForm()">Registrarse</button>
                <div class="mb-3" style="margin-top: 10px; color: white; text-align: center;">¿Ya tienes una cuenta? <a
                        routerLink="/">Inicia Sesion</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
