<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SignIn</title>
</head>

<body>
    <app-navbar></app-navbar>
    <div class="center">
        <div class="container">
            <div>
                <p class="titulo">Registrate</p>
            </div>
            <form class="form-cotrol">
                <div class="mb-3">
                    <label for="" class="form-label subtitulo"><i class='bx bxs-user'></i> Nombre</label>
                    <input type="text" class="form-control" id="" placeholder="User name">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label subtitulo"><i class='bx bxs-envelope'></i> Correo</label>
                    <input type="email" class="form-control" id="" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label subtitulo"><i class='bx bxs-lock-alt'></i> Contraseña</label>
                    <input type="password" class="form-control" id="" placeholder="Password">
                </div>
                <button class="form-control btn-color subtitulo">Registrarse</button>
                <div class="mb-3" style="margin-top: 10px; color: white; text-align: center;">¿Ya tienes una cuenta? <a
                        routerLink="/">Inicia Sesion</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>