<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Clientes</title>
</head>

<body>
    <div class="container">
        <h2>Registrar Cliente</h2>
        <div class="">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="Ingrese la direccion">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Telefono</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Telefono">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Usuario</option>
                </select>
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Agregar</button>
        </div>
    </div>
</body>

</html>