<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro Cliente</title>
</head>

<body>
  <div class="container" style="color: white;">
    <div class="center">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2 class="text-center amaranth-bold">Registrarse como Cliente</h2>
          <div class="">
            <div class="mb-3">
              <label class="form-label signika">Direccion</label>
              <input type="text" class="form-control" placeholder="Ingrese la direccion"
                [(ngModel)]="customer.customer_address">
            </div>
            <div *ngIf="errorAddress" class="text-danger">{{errorAddress}}</div>
            <div class="mb-3">
              <label class="form-label signika">Telefono</label>
              <input type="number" class="form-control" placeholder="Telefono" [(ngModel)]="customer.customer_phone">

            </div>
            <div *ngIf="errorPhone" class="text-danger">{{errorPhone}}</div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3 signika" (click)="createCustomer()">Registrarse</button>
          </div>
          <div class="mb-3 text-center signika">
            <div class="alert alert-danger center" role="alert" *ngIf="errorUser">
              {{errorUser}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>