<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LogIn</title>
</head>

<body>
    <div class="center">
        <div class="container">
            <div>
                <p class="titulo">Iniciar Sesion</p>
            </div>
            <form class="form-cotrol">
                <div class="mb-3">
                    <label  class="form-label subtitulo"><i class='bx bxs-envelope' for="email"></i> Correo</label>
                    <input type="email" class="form-control" [(ngModel)]="user.email" placeholder="name@example.com" name="email">
                  <div *ngIf="errorEmail" class="text-danger">{{errorEmail}}</div>
                </div>
                <div class="mb-3">
                    <label  class="form-label subtitulo"><i class='bx bxs-lock-alt' for="password"></i> Contraseña</label>
                    <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Password" name="password">
                  <div *ngIf="errorPassword" class="text-danger">{{errorPassword}}</div>
                </div>
                <button class="form-control btn-color subtitulo" (click)="submitForm()">Iniciar Sesion</button>
                <div class="mb-3" style="margin-top: 10px; color: white; text-align: center;">¿Aún no tienes una cuenta? <a href="#">Registrate</a></div>


            </form>
        </div>
    </div>
</body>

</html>
